{%include global/header.html%}
<div id="container">
	<div id="content" class="content">
		<div id="subcontent">
			<p>You might have noticed that the website loads dynamically! This is a nice feature; and it will allow me to make things even more pretty
			in the future. Not only that, but the webpages are still hosted as standalones, which work. So, if your browser is crap, or for some reason
			you don't want javascript enabled, you still should be able to access the more boring parts of the site... however the real fun is the javascript :P
			</p>
			<p>If you truly came for random things, here they are. Feel free to copy and use the code from these all you like, although I would be grateful if you acknowledge me :)</p>
			<a class="plainLink" href="http://brendanr.net/fireworks">Fireworks</a><br />
			<a class="plainLink" href="http://brendanr.net/pong">Pong</a>
		</div>
	</div>
</div>
{%include global/footer.html%}
