<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

		<link href='http://fonts.googleapis.com/css?family=Actor|Armata|Junge|Patrick+Hand+SC' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">


        {% if title == ""  %}
		<title>BrendanR</title>
		{% else %}
		<title>{{ title }}</title>
		{% end %}


        <meta property="og:title" content="BrendanR"> 
        <meta property="og:description" content="A possibly uninspiring blog by an inspired student."> 
        <meta name="description" content="A possibly uninspiring blog by an inspired student.">

    </head>
	
    <body>
		<div id="page" class="page"> <!-- Ends in footer -->
			<br/>
			<div class="banner">
				<a href="/">
					<div>
				the moderately wonderful world of Brendan Roy
					</div>
				</a>
			</div>
			
		
